<h1 class= page-header>Search for Data via Postcode</h1>

<%= form_tag({controller: "weather", action: "redirect_data"}, method: "get") do %>
	<%= label_tag(:l, "Search for Location:") %>
  	<%= text_field_tag(:l) %>
  	<%= submit_tag("Search") %>

<% end %>