<h1 class= page-header>Listing Locations</h1>


<table class= table>
    <thead>
    	<caption>Victorian Weather Station Locations</caption>
     	<tr>
       		<th> Location ID </th>
       		<th> Latitude </th>
        	<th> Longitude </th>
        	<th> Last Update </th>
      	</tr>
    </thead>
  
    <tbody>
      <% @locations.each do |location| %>
        <tr>
        	<td><%= link_to "#{location.name}", :controller => "weather", :action =>"data", :id =>location.id, :date => Date.today %></td>
        	<td><%= location.position.latitude %></td>
        	<td><%= location.position.longitude %></td>
        	<td><%= location.updated_at.localtime.strftime("%d-%m-%Y at %H:%M%p") %></td> 
        </tr>
      <% end %>

    </tbody>

</table>

