// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
    text-align: center;
}

caption{
	text-align: center;
    font-size: 18px;
}

table{
    text-align: center;

}

th{
	text-align: center;
	padding: 10px;
}

form{
	position: absolute;
	left: 30%;
	text-align: center;
}



.custom-form-group {
	display:inline;
	width:auto;

	
}


.warning {
	color:red;
}

#bloodhoundOverwrite {
	vertical-align: middle !important;
}